body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}
h1 {
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.tab:hover {
    background-color: #bbb;
}
.tab.active {
    background-color: #28a745;
    color: white;
}
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}
input {
    width: 94%;
    padding: 10px;
    margin: 10px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.add-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.message {
    text-align: center;
    margin-top: 10px;
}

span {
    margin-bottom: 10px !important;
}

.game-search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#game-thumbnail {
    width: 200px;
    height: auto;
    display: none;
    margin-left: 95px;
}


/* Ensure that flexbox is used for the form columns */
.form-columns {
    display: flex;
    gap: 50px; /* Adds space between the columns */
}

.column {
    flex: 1 1 45%; /* Each column takes up roughly 45% of the container, with room for space between them */
    min-width: 300px; /* Prevent columns from becoming too narrow */
}

/* Style form elements within the columns */
.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input, 
.form-container select {
    width: 94%;
    padding: 8px;
    margin-top: 5px;
}

#game-title {
    margin-bottom: -3px;
}

